<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Detalle Maestro</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-eye" aria-hidden="true"></span> Consultar
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="crear">
                <span class="bi bi-plus-circle" aria-hidden="true"></span> Crear
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="modificar">
                <span class="bi bi-pencil" aria-hidden="true"></span> Modificar
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="eliminar">
                <span class="bi bi-trash" aria-hidden="true"></span> Eliminar
            </NavLink>
        </div>
    </nav>
</div>

